.card-juegos {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    text-align: center;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    &__title {
      font-size: 1.25rem;
      margin: 10px 0;
      color: #333;
    }
  
    &__image {
      width: 100%;
      height: 200px; 
      object-fit: cover; //Recorta la imagen
      border-bottom: 1px solid #ddd;
    }
  
    &__description,
    &__genre {
      font-size: 0.9rem;
      color: #666;
      margin: 10px 20px;
    }
  
    &__description {
      font-weight: 300;
    }
  
    &__genre {
      font-style: italic;
      color: #999;
    }
  }
  
  .card-juegos-link {
    text-decoration: none;
    color: inherit;
  }
  @media (min-width: 800px) {
    .card-juegos {
      /* Ajustes en el diseño para pantallas más grandes */
      max-width: 300px; /* Limita el ancho máximo de la tarjeta */
      margin: 20px; /* Aumenta el margen alrededor de la tarjeta */
    }
  
    .card-juegos__title {
      font-size: 1.5rem; /* Aumenta el tamaño de la fuente del título */
    }
  
    .card-juegos__image {
      height: 250px; /* Aumenta la altura de la imagen */
    }
  
    .card-juegos__description,
    .card-juegos__genre {
      font-size: 1rem; /* Aumenta el tamaño de la fuente */
      margin: 15px 25px; /* Ajusta el margen */
    }
  
    .card-juegos__description {
      font-weight: 400; /* Aumenta el grosor de la fuente */
    }
  
    .card-juegos__genre {
      font-style: normal; /* Elimina el estilo en cursiva */
      color: #666; /* Ajusta el color */
    }
  }
  
  @media (min-width: 1200px) {
    .card-juegos {
      max-width: 350px; 
      margin: 30px; 
    }
  
    .card-juegos__title {
      font-size: 1.75rem; 
    }
  
    .card-juegos__image {
      height: 300px; 
    }
  
    .card-juegos__description,
    .card-juegos__genre {
      font-size: 1.1rem; 
      margin: 20px 30px; 
    }
  
    .card-juegos__description {
      font-weight: 500; 
    }
  
    .card-juegos__genre {
      font-style: normal; 
      color: #333; 
    }
  }