.catalogo-container {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .catalogo-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
    padding: 1rem; 
    width: 100%;
    max-width: 50%; 

    label {
      margin-bottom: 1rem; 
    }

    select, input {
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
  }

  .catalogo-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem; 

    .card-juego {
      width: 100%;
      max-width: 300px;
    }
  }

  .paginacion {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    .MuiPagination-root {
      .MuiPagination-ul {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .catalogo-filtros {
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      
      select, input {
        width: 100%;
        max-width: 300px; 
      }
    }

    .catalogo-lista {
      flex-direction: column;
      align-items: center;
    }

    .paginacion {
      margin-top: 3rem;
    }
  }

  @media (min-width: 800px) {
    .catalogo-container {
      max-width: 800px;
    }

    .catalogo-filtros {
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 3rem; 
    }

    .catalogo-lista {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 1200px) {
    .catalogo-container {
      max-width: 1200px;
    }

    .catalogo-filtros {
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 2rem; 
    }

    .catalogo-lista {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
