.catalogo-container {
  padding: 2rem; /* Aumenta el padding general */
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .catalogo-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem; /* Separa los filtros de la lista de juegos */
    padding: 2rem; /* Añade padding interno */
    width: 100%;
    max-width: 100%; /* Asegura que los filtros ocupen todo el ancho disponible */
    background-color: #f9f9f9; /* Fondo claro para los filtros */
    border-radius: 16px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra de enfoque */

    .catalogo-filtro-item {
      width: 100%;
      max-width: 600px; /* Ancho máximo para los filtros */
      margin-bottom: 1.5rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.5rem; /* Tamaño de fuente para las etiquetas */
        color: #333;
      }

      select, input {
        width: 100%;
        padding: 1rem; /* Padding interno */
        font-size: 1.25rem; /* Tamaño de fuente */
        border: 1px solid #ccc;
        border-radius: 16px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        transition: box-shadow 0.2s;

        &:focus {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al enfocar */
          border-color: #007bff; /* Color del borde al enfocar */
        }
      }
    }
  }

  .catalogo-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem; /* Espacio entre tarjetas */
    margin-bottom: 2rem;
  }

  .paginacion {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    .MuiPagination-root {
      .MuiPagination-ul {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .catalogo-filtros {
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;

      .catalogo-filtro-item {
        max-width: 300px; /* Limita el ancho en pantallas pequeñas */
      }
    }

    .catalogo-lista {
      flex-direction: column;
      align-items: center;
    }

    .paginacion {
      margin-top: 3rem;
    }
  }

  @media (min-width: 800px) {
    .catalogo-container {
      max-width: 800px;
    }

    .catalogo-filtros {
      justify-content: space-around;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 3rem;
    }

    .catalogo-lista {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 1200px) {
    .catalogo-container {
      max-width: 1200px;
    }

    .catalogo-filtros {
      justify-content: space-around;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 3rem;
    }

    .catalogo-lista {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
