.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center; 

  .footer-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  }

  .footer-text {
    margin: 0;
    font-size: 1.2rem; 
    margin-left: 0.5rem; 
  }

  .github-link {
    display: flex;
    align-items: center; 
    color: white;
    text-decoration: none;

    &:hover {
      color: #f0f0f0; 
    }

    svg {
      margin-right: 0.5rem; 
    }
  }

  @media (max-width: 480px) {
    .footer-text {
      font-size: 1rem; 
    }

    .github-link {
      svg {
        font-size: 20px; 
      }
    }
  }

  @media (min-width: 800px) {
    .footer-text {
      font-size: 1.2rem;
    }

    .github-link {
      svg {
        font-size: 24px; 
      }
    }
  }

  @media (min-width: 1200px) {
    .footer-text {
      font-size: 1.4rem;
    }

    .github-link {
      svg {
        font-size: 28px; 
      }
    }
  }
}
