@import '../utils/mixins.scss';
@import '../utils/variables.scss';

%footer{
    min-height:10vh;
    @include centered-content;
    color:white
}

.footer-day{
    @extend %footer;
    background-color: $blue;
}

.footer-night{
    @extend %footer;
    background-color: $dark-blue;
}