.JuegosDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &.Estrategia {
    background-color: rgba(5, 230, 247, 0.1);
  }

  &.Familiar {
    background-color: rgba(163, 248, 66, 0.1);
  }

  &.Aventura {
    background-color: rgba(106, 106, 236, 0.1);
  }

  &.RPG {
    background-color: rgba(253, 67, 213, 0.1);
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    .imagenJuego {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-right: 1rem;
    }

    div {
      text-align: left;
      width: 100%;
      max-width: 500px; /* Limitar el ancho máximo del texto para que no se estire demasiado */

      p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: #333;
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #f57b77; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @media (max-width: 480px) {
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .imagenJuego {
        width: 150px;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      div {
        width: 100%;
        max-width: 100%;
        p {
          font-size: 1rem;
        }
      }
    }

    iframe {
      height: 200px;
    }

    button {
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
    }
  }

  @media (min-width: 800px) {
    padding: 2rem;

    h1 {
      font-size: 2rem;
    }

    article {
      display: flex;
      flex-direction: row;

      .imagenJuego {
        max-width: 400px;
        margin-right: 2rem;
      }

      div {
        p {
          font-size: 1.1rem;
        }
      }
    }

    iframe {
      height: 360px;
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1200px) {
    padding: 3rem;

    h1 {
      font-size: 2.5rem;
    }

    article {
      .imagenJuego {
        max-width: 500px;
        margin-right: 3rem;
      }

      div {
        p {
          font-size: 1.2rem;
        }
      }
    }

    iframe {
      height: 400px;
    }

    button {
      padding: 1.2rem 2.5rem;
      font-size: 1.3rem;
    }
  }
}
