.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
  position: relative; // Para el posicionamiento absoluto del menú hamburguesa

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo-image {
      height: 100%; 
      max-height: 60px; 
      width: auto;
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Menu hamburguesa
  .menu-toggle {
    display: none; // Ocultarlo por defecto
    flex-direction: column;
    cursor: pointer;

    .bar {
      background-color: white;
      height: 3px;
      width: 25px;
      margin: 3px 0;
      transition: 0.3s;
    }
  }

  // Mobile Menu
  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px; // Ajusta según el tamaño de tu navbar
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 1rem;
    z-index: 1;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 1rem 0;

        a {
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Media Query para móviles
  @media (max-width: 480px) {
    .navbar-links {
      display: none; // Oculta el menú de navegación en móviles
    }

    .menu-toggle {
      display: flex;
    }

    .mobile-menu.active {
      display: block; // Muestra el menú móvil cuando está activo
    }
  }

  // Media Query para pantallas de al menos 800px
  @media (min-width: 800px) {
    .menu-toggle {
      display: none; // Oculta el icono de menú en pantallas medianas y grandes
    }

    .mobile-menu {
      display: none; // Oculta el menú móvil en pantallas medianas y grandes
    }
  }

  // Media Query para pantallas de al menos 1200px
  @media (min-width: 1200px) {
    .navbar-links {
      display: flex; // Muestra el menú de navegación completo en pantallas grandes
    }
  }
}
