/* _QuienesSomos.scss */

.quienes-somos {
    text-align: center; /* Centra la imagen */
    padding: 1rem;
    color: #333;
  
    img {
      max-width: 100%;
      height: auto;
      display: block; /* Asegura que la imagen se trate como un bloque */
      margin: 0 auto 1rem auto; /* Centra la imagen y añade margen en la parte inferior */
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.6;
      text-align: justify; /* Justifica el texto */
      text-justify: inter-word; /* Mejora la justificación en algunos navegadores */
    }
  
    .negrita {
      font-weight: bold;
    }
  
    // Media Query para dispositivos móviles
    @media (max-width: 480px) {
      padding: 0.5rem;
  
      p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
    }
  
    // Media Query para pantallas de al menos 800px
    @media (min-width: 800px) {
      max-width: 800px;
      margin: 0 auto;
      
      p {
        font-size: 1.1rem;
      }
    }
  
    // Media Query para pantallas de al menos 1200px
    @media (min-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto;
  
      p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  