.quienes-somos {
    text-align: center; 
    padding: 1rem;
    color: #333;
  
    img {
      max-width: 100%;
      height: auto;
      display: block; 
      margin: 0 auto 1rem auto; 
    }
  
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.6;
      text-align: justify; 
      text-justify: inter-word; 
    }
  
    .negrita {
      font-weight: bold;
    }
  
    @media (max-width: 480px) {
      padding: 0.5rem;
  
      p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
    }
  
    @media (min-width: 800px) {
      max-width: 800px;
      margin: 0 auto;
      
      p {
        font-size: 1.1rem;
      }
    }
  
    @media (min-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto;
  
      p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  